* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body {
    padding: 10px;
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
}
.clearfix{
    clear: both;
}
.clearfix::after{
    clear: both;
    content: '';
    display: table;
}